.node-name {
  font-size: 18px;
  margin: 0 0 0 5px;
}

.node-info {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.spinner {
  display: inline-block;
  width: 24px;
  height: 24px;

}
.spinner:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  border: 2px solid black;
  border-color: black transparent black transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
